# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\硕士\111开题\new\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
